<!For partials>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap" rel="stylesheet">

<style media="screen">
  .navBar a{
    text-decoration: none;
    padding: 20px;
    color: black;
    text-transform: upperCase;

  }

  .navBar a:hover{
    color: grey;
  }



</style>

<div class="navBar" style="background-color: white; padding: 15px; font-family: 'Montserrat', sans-serif; display: flex; -webkit-box-shadow: -2px 17px 23px 0px rgba(0,0,0,0.48);-moz-box-shadow: -2px 17px 23px 0px rgba(0,0,0,0.48); box-shadow: -2px 17px 23px 0px rgba(0,0,0,0.48)">
  <a href="/">Home</a>
  <a href="/search">Search</a>
  <a href="/profile">Profile</a>
  <div style="flex: 1"></div>
  <a href="/logout">Logout</a>
</div>
