<!yo chahe search page ko layout ko lagi which removes the built in navigation bar>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color: Lightgrey; margin: 0">
    <%- body %>
  </body>
</html>
